.safety {
    margin-top: 40px;
    padding: 80px;
    position: relative;
    overflow: hidden;

 .image{
    height: 350px;
    overflow: hidden;
 
    img{
        width: 100%;
        object-fit: contain;
    }
 }
}
