.mainhead {
  .container-fluid {
    background-color: #239698;
    padding: 11px;

    .blue_head {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .logo {
        img {
          width: 160px;
        }
      }

      .locations {
        display: flex;
        align-items: baseline;
        font-size: 19px;
        color: white;
        margin-top: 14px;

        &>div {
          margin-right: 12px;
        }
      }

      .searchbar-box {
        width: 853px;
        display: flex;
        position: relative;

        .search_icon {
          font-size: 27px;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          padding: 16px;
          left: 0;
        }

        .search-button {
          background-color: #ffb803;
          font-weight: 500;
          position: absolute;
          right: 0;
          border-radius: 0;
          padding: 12px;
        }

        input {
          text-align: center;
          padding: 12px;
        }
      }

      .support-box {
        display: flex;
        justify-content: center;
        align-items: center;

        .support-number {
          h4 {
            color: #fff;
            margin-top: 4px;
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            overflow: hidden;

          }

          h2 {
            font-size: 25px;
            color: #fff;
            margin: 0;
            overflow: hidden;

          }
        }
      }
    }
  }

  .container {
    padding: 40px;

    .nav {
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          margin-right: 40px;
          font-size: 20px;

          a{
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .icons {
      list-style: none;
      display: flex;
      justify-content: center;
      text-align: center;

      li {
        margin-right: 40px;

        a {
          width: calc(35px + (46 - 35) * ((100vw - 320px) / (1920 - 320)));
          height: calc(35px + (46 - 35) * ((100vw - 320px) / (1920 - 320)));
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 22px;
          border: 1px solid #ececec;
          background-color: #fff;
          border-radius: 100%;
          padding: 10px;
          position: relative;
          color: black;

        }


      }


      .profile {
        display: flex;

        .name_surname {
          .title {
            margin-left: 20px;
            font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.2;
            font-weight: 400;
            color: #4a5568;

            .name {
              color: #239698;
              font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
              line-height: 1.2;
              margin: 0;
              font-weight: 400;
            }
          }
        }
      }

      .bag {
        position: relative;

        .count_bag {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 1px;
          right: 1%;
          width: 18px;
          background: #239698;
          border-radius: 50%;
          color: white;

          small {
            font-weight: 400;
          }
        }
      }
    }
  }
}