@import './../components/Header/Header.scss';
@import './../components/Specialy/Specialy.scss';
@import './../components/Footer/Footer';
@import './../components/Banners/Banners';
@import './../components/Category/Category';
@import './../components/Vegetables/Vegetables';
@import './../components/Bank/Bank';
@import './../components/BestSeller/BestSeller';
@import './../components/Adverts/Adverts';
@import './../components/SafeDelivery/safedelivery';
@import './../components/BlogComponent/BlogComponents';
@import './../components/ServiceComponent/Service';
@import './../components/LoginPage/Footer/AllFooter';
@import './../components/LoginPage/Header/AllHeader';
@import './../components/LoginPage/Main/Main';
@import './../components/ShopComponents/Shop';
@import './../components/Cartcomponent/cartcm';
@import './../components/ShopDetailCM/ShopDetail';

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6{
    overflow: hidden;
}

