.spe{
    padding: 30px;
    position: relative;
    .container-fluid-lg {
        padding: 0 calc(12px + (160 - 12) * ((100vw - 320px) / (1920 - 320)));
        position: absolute;
        top: 20%;
        overflow: hidden;
    
        h6 {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: calc(7px + (12 - 7) * ((100vw - 320px) / (1920 - 320)));
            color: #239698;
            overflow: hidden;
    
        }
    
        .heding-2 {
            font-size: calc(22px + (50 - 22) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 13px;
            margin-top: 7px;
            width: 100%;
            overflow: hidden;
    
        }
    
        .content-2 {
            font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: 10px;
            font-weight: 500;
            overflow: hidden;
    
        }
    
        h5 {
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            letter-spacing: 1px;
            color: #239698;
            overflow: hidden;
    
        }
    
        .special_btn {
            background-color: #239698;
            padding: calc(8px + (11 - 8) * ((100vw - 320px) / (1920 - 320))) calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
            color: white;
            border: none;
        }
    }
}