#banners {
    padding: 40px;

    .adverts {
        position: relative;

        .banner-detail {
            position: absolute;
            top: 53px;
            left: 24px;

            h5 {
                overflow: hidden;
                font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                letter-spacing: 1px;
                margin-bottom: 0.5rem !important;
            }

            h4 {
                overflow: hidden;
                font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
                line-height: 1.4;
                font-weight: 700;
            }

            .shop {
                color: #239698;
                display: flex;
                align-items: center;
                padding: 0;
                font-size: 17px;
                margin-right: auto !important;
                text-align: left;
                border: none;
                font-weight: 700;

                svg{
                    margin-left: 6px;
                }
            }
        }
    }
}